:root {
    --font-size: 20px;
}

#log > div.deleted {
    visibility: hidden;
}

#log .emote_wrap {
    position: relative;
    padding: 1px
}

#log .emote_wrap img.emoticon {
    height: calc(var(--font-size) * 1.5);
    vertical-align: middle;
    margin: -5px 0px 0px;
}

.badge {
    margin: -5px 0px -2px;
}

.colon,
.name {
}

#log .meta {
    padding-right: 6px;
    position: relative;
}

.badge {
    margin-right: 4px;
    height: 1em
}

.name {
    font-weight: 700;
    margin-left: .0em
}

.colon,
.name {
    height: 24px
}

body,
html {
    height: 100%;
    overflow: hidden
}

#log {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 10px 10px;
    width: 100%;
    box-sizing: border-box;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.7),
    -1px 1px 0 rgba(0, 0, 0, 0.7),
    1px -1px 0 rgba(0, 0, 0, 0.7),
    1px 1px 0 rgba(0, 0, 0, 0.7),
    0 0 1px rgba(0, 0, 0, 0.7),
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000,
    0px 0px 3px #000;
}

body {
    -webkit-mask-image: -webkit-gradient(linear, left 5%, left top, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0)));
}

#log > div {
    padding-bottom: .25em;
    word-wrap: break-word;
}

#log.small > div {
    line-height: 1.5em;
}

body {
    background: transparent;
    color: white;
    font-size: var(--font-size);
}

#log > div {
    font-weight: 600;
}

span.message > img {
    height: 1em;
}

span.message > img.emote {
    height: auto !important;
    vertical-align: text-top;
}